
nav{
  position: fixed;
  top: 0;
  left: 10vw;
  z-index: 9999;
  width: 100px;
  height: 100%;
  //background-color: #000027;
  background-color: rgba(0, 0, 0, 0.01);
  overflow-x: hidden;
  padding-top: 35px;
}

.nav-li{
  list-style-type: none;
  padding: 10px 15px;
  text-decoration: none;
  display: block;
  float: right;
  font-size: 20px;
}



.nav-li:hover{
  color: #f1f1f1;
}

#close-btn{
  margin-right: 2px;
}


.n-link{
  color: white;
  float: right;
  display: inline;
}

.nav-drop{
  float: right;
  color: white;
}

.dropdown-content{
  font-size: 15px;
}
