body {
  font-family: "Lato", sans-serif;
  color: #747704;
  font-weight: 300;
}


.text-mited{
  color: #8CBBBB;
}

.text-thin{
  font-weight: 100;
}


.title-super {
  font-size: 60px;
}

.title-logo {
  margin-top: 20px;
}
