body {
    font-family: 'Playfair Display', serif;
    font-weight: 300;
    background-color: #DCDCDC;
    color: #575252;
}

#header{
    margin-top: 5vh;
    color: #535F6B;
}

.container{
    margin-top: 2vh;
}

.row {
    margin-top: 2vh;
}

hr {
    border-top: 1px solid #868889;
}

.text-muted{
    color: #606D7B;
    margin-bottom: -1vh;
    font-weight: 400;
}

.title-super {
    font-size: 50px;
    font-weight: 100;
}

.project:hover,
.project:hover h4  {
    cursor: pointer;
    text-decoration: underline;
}

.proj-img{
    height: auto;
}

.pj-title{
    font-weight: 100;
}

#project-description {
    margin-top: 1vh;
}

.fa:hover{
    opacity: 0.5;
}

.fa{
    font-size: 20px;
    color: #943737;
    margin-right: 2vw;
}

.fa-google:hover{
    opacity: 1;
}

.modal-content{
    background-color: #CBCAC8;
}

#modal-img:hover {
    opacity: 0.6;
}

#github-link{
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
}
#footer{
    margin-bottom: 3vh;
}
