body {
    font-family: 'Playfair Display', serif;
    font-weight: 300;
    background-color: #E9EAEB;
    color: #575252;
}

#header{
    margin-top: 1vh;
    color: #535F6B;
}



.container{
    margin-top: 2vh;
}

.row {
    margin-top: 2vh;
}

hr {
    border-top: 1px solid #868889;
}

.text-muted{
    color: #606D7B;
    margin-bottom: -1vh;
    font-weight: 400;
    font-size: 40px;
    text-align: center;
}

.title-super {
    font-size: 50px;
    color: #575757;
}

.project:hover,
.project:hover h4  {
    cursor: pointer;
    text-decoration: underline;
    opacity: 0.7;
}

.proj-img{
    height: auto;
}

.pj-title{
    font-weight: 400;
    margin-top: 2vh;
}

#project-description {
    margin-top: 2vh;
    font-weight: 400;
}


.fa{
    font-size: 27px;
    color: #943737;
    margin-right: 2vw;
}



.modal-content{
    background-color: #F2F1F0;
}

#modal-img:hover,
.fa:hover {
    opacity: 0.6;
}

.fa-google:hover{
    opacity: 1;
}

#github-link{
    font-size: 40px;
    cursor: pointer;
}


#footer{
    margin-bottom: 3vh;
}
