body {
    font-family: 'Playfair Display', serif;
    font-weight: 300;
}

#header{
    margin-top: 5vh;
}

.container{
    margin-top: 2vh;
}

.row {
    margin-top: 2vh;
}
.text-muted{
    color: #8CBBBB;
    margin-bottom: -1vh;
}

.text-thin{
    font-weight: 100;
}


.title-super {
    font-size: 50px;
}

.project{
    cursor: pointer;
}

.pj-title{
    font-weight: 100;
}

#project-description {
    margin-top: 1vh;
}

.fa:hover{
    opacity: 0.5;
}

.fa{
    font-size: 20px;
    color: black;
    margin-right: 2vw;
}

.fa-google:hover{
    opacity: 1;
}

#modal-img:hover {
    opacity: 0.8;
}

#github-link{
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
}
#footer{
    margin-bottom: 3vh;
}
