

@media screen and (max-width: 949px){

    #name{
        margin-top: -7vh;
    }

    .title-logo {
        width: 20%;
    }

    .text-muted{
        text-align: center;
    }
}




@media screen and (max-width: 450px){
    body {
        width: 100vw;
    }

    #name {
        font-size: 40px;
    }
    .text-muted{
        font-size: 40px;
        font-weight: bold;
    }

    .project{
        margin-bottom: 10vh;
    }

    .pj-title{
        font-size: 30px;
    }

    .fa{
        font-size: 22px;
    }

    #project-description {
        font-size: 20px;
        font-weight: 400;
    }

    #tools{
        font-size: 18px;
    }

    #github-link {
        font-size: 40px;
    }
}



@media screen and (min-width: 650px) and (max-width: 1000px){

    #name {
        font-size: 60px;
    }

    #job {
        font-size: 45px;
    }

    .proj-img{
        margin-left: auto;
        margin-right: auto;
    }

    .text-muted{
        font-size: 55px;
        font-weight: bold;
    }

    .pj-title{
        font-size: 40px;
    }

    .fa{
        font-size: 40px;
    }

    .project{
        margin-bottom: 5vh;
    }

    #project-description {
        font-size: 30px;
        font-weight: 400;
    }

    #tools{
        font-size: 25px;
    }

    #github-link {
        font-size: 55px;
    }

    .modal-title{
        font-size: 60px;
    }

}
