
@media screen and (max-width: 500px){
    .copy-name{
        margin-top: -6vh;
    }

    .nav-ul{
        margin-left: 5vw;
        padding-top: 1vh;
    }

    .projects-h1{
        padding-top: 1vh;
        padding-bottom: 2vh;
    }

}

@media screen and (max-width: 380px){
    .nav-ul{
        margin-left: -3vw;
        padding-top: 1vh;
    }

    .n-link{
        font-size: 17px;
    }
}


@media screen and (min-width: 650px) and (max-width: 1000px){

    #name {
        font-size: 60px;
    }

    #job {
        font-size: 45px;
    }

    .proj-img{
        margin-left: auto;
        margin-right: auto;
    }

    .text-muted{
        font-size: 55px;
        font-weight: bold;
    }

    .pj-title{
        font-size: 40px;
    }

    .fa{
        font-size: 40px;
    }

    .project{
        margin-bottom: 5vh;
    }

    #project-description {
        font-size: 30px;
        font-weight: 400;
    }

    #tools{
        font-size: 25px;
    }

    #github-link {
        font-size: 55px;
    }

    .modal-title{
        font-size: 60px;
    }

}



@media screen and (min-width: 700px) and (max-width: 990px){

    #name{
        font-size: 35px;
    }

    #job{
        font-size: 15px;
    }

    .title-logo {
        width: 20%;
    }


    #close-btn{
        font-size: 30px;
        margin-top: 2vh;
    }

    .nav-li{
      padding: 0;
    }

    .featured-works{
        font-size: 5px;
    }

    .inside-special,
    .inside-pj {
        width: 50vw;
        margin-left: 18vw;
        margin-right: 18vw;
        margin-top: 15vh;
    }

    .inside-special{
        height: 10%;
    }
    .fa-row {
        margin-top: 2vh;
    }

}




@media screen and (max-width: 500px){
    body {
        width: 100vw;
    }

    #fixed-side-nav{
        display: none;
    }

    .nav-bar{
        display: block;
        z-index: 9999;
        opacity: 0.8;
    }

    #name{
        margin-top: 13vh;
        font-size: 60px;
    }

    .projects-page{
        font-size: 12px;
        margin-top: 4vh;

    }
    #projects{
        margin-top: -4vh;
    }

    .nav-link{
        display: inline;

    }

    .nav-ul{
        margin-top: 3vh;
    }
    .n-link{
        color: white;
    }

    .text-muted{
        font-size: 30px;
        font-weight: bold;
        text-align: center;
    }

    .special-pj{
        margin-top: 8vh;
    }
    .featured-works{
        margin-top: -10vh;
    }

    .project{
        margin-bottom: 10vh;
    }

    .pj-title{
        font-size: 30px;
    }

    .fa{
        font-size: 22px;
    }

    #project-description {
        font-size: 20px;
        font-weight: 400;
    }

    #tools{
        font-size: 18px;
    }

    #github-link {
        font-size: 40px;
    }

    .fa-row{
        margin-top: 3vh;
        margin-bottom: 2vh;
    }

    .links-row{
        /*margin-left: 25vw;
        margin-top: -2vh;*/
    }

    .pj-icon{
        font-size: 30px;
    }
}


@media screen and (min-width: 765px) and (max-width: 1023px){
    .name-div{
        margin-right: 4vw;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1220px){
    .title-super{
        font-size: 60px;
    }

    .fa-google-div{
        margin-left: -4vw;
    }
    .fa-row{
        margin-left: 10vw;
    }
}


@media screen and (max-width: 999px){
    .fa-row{
        text-align: center;
    }
}

@media screen and (min-width: 500px) and (max-width: 990px){
    .pj-left-text{
        text-align: center;
    }

    .links-row{
        width: 20vw;
        margin-left: 38vw;
        margin-right: 38vw;
    }
}
