body {
    font-family: 'Cormorant', serif;
    font-weight: 800;
    font-size: 20px;
    background-image: url('/static/images/images_src/fixed/fabric_of_squares_gray.png')
}

a:hover{
    text-decoration: none;
}

.fa:hover{
    text-decoration: none;
    cursor: pointer;
}

.title-super {
    font-size: 50px;
    font-weight: bold;
    font-variant: small-caps;
    margin-top: 2vh;
}


/* NAV */

#fixed-side-nav{
  top: 0;
  z-index: 9999;
  font-size: 30px;
}


#nav-ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#nav-ul li {
    display: inline;
}

.nav-li{
  display: inline;
}

.n-link{
    color: #575757;
    font-size: 20px;

}

.n-link:hover,
.modal-icon:hover,
.pj-icon:hover,
.fa-f:hover{
    /* color: #8F5C00; */
    color: orange;
}

.projects-h1{
    font-weight: bold;
}
/*  Carousel */
.carousel-indicators li:hover{
    background-color: orange;
}

.carousel-img{
    filter: brightness(60%);
}


.carousel-inner{
    border: 2px solid black;

}


.carousel-text{
    color: white;
    font-weight: bold;
    text-shadow: 2px 1px black;
}


.pj-icon{
    color: white;
    margin: 10px;
}

.modal-icon{
    margin: 10px;
}

.modal-title{
    font-weight: bold;
    text-align: center;
}

/* Cards */
.card{
    border: 0px;
    background-color: transparent;
}

.card-img-top:hover{
    cursor: pointer;
}
.card-img-top{
    border: 2px solid black;
}

.card-title{
    font-weight: bold;
}

/*  Modal */
.modal-header,
.modal-footer{
    background-color: #404344;
    color: white;
}

.modal-icon{
    color: black;
}

/* Footer */

footer{
    margin-top: 3vh;
}

.fa-google-div{
    margin-left: 2vw;
}


.fa-f {
    color: black;
    margin-left: 2vw;
}
