body {
    font-family: 'Cormorant', serif;
    font-weight: 800;
    font-size: 20px;
    color: #575757;
    background-image: url('/static/images/images_src/fixed/fabric_of_squares_gray.png')
}

#header{
    margin-top: 1vh;
}


a:hover{
    text-decoration: none;
}

.fa:hover{
    text-decoration: none;
    cursor: pointer;
}

hr {
    border-top: 1px solid #868889;
}

.text-muted{
    color: #575757;
    font-weight: bold;

}


/* NAV */

.nav-bar{
    background-color: #575757;
    height: 12vh;
    top: 0;
    width: 100vw;
    position: fixed;
    display: none;
}

#close-btn{
    font-size: 50px;
    margin-top: 2vh;
}

#fixed-side-nav{
  position: fixed;
  top: 0;
  left: 5vw;
  z-index: 9999;
  width: 10vw;
  height: 100%;
  padding-top: 1vh;

}

.nav-li{
  list-style-type: none;
  padding: 11px 15px;
  text-decoration: none;
  display: block;
  float: right;

}

.n-link{
    color: #575757;
    font-size: 20px;
}

.h-li{
  display: none;
}

/*FRONTPAGE*/


#featured h2{
    display: inline;
}

.title-super {
    font-size: 70px;
    font-weight: 600;
    font-variant: small-caps;
}


.featured-pj:hover,
.special-img:hover {
    cursor: pointer;

}

.special-img,
.proj-img{
    position: relative;
}


.inside {
    display: none;
    position: absolute;
}

.inside-text{
    font-weight: bold;
    color: white;
    margin-right: 3vw;
}

.inside-special{
    bottom: 12em;
}

.inside-pj {
    margin-top: 5vh;
    width: 25vw;

}




.project:hover  {
    cursor: pointer;
    opacity: 0.8;
}

.proj-img{
    border: 2px solid #828283;
}



.fa{
    font-size: 28px;
    color: #404344;
}

.fa-f {
    margin-left: 2vw;
}

.fa:hover{
    color: #8F5C00;
}

/*MODAL*/
.modal-header,
.modal-footer{
    background-color: #404344;
    color: white;
}

.modal-title{
    font-weight: bold;
}
.modal-content{
    background-color: #F2F1F1;
}

.modal-link{
    margin-right: 2vw;
    margin-left: 2vw;
}

#details{
    margin-top: 3px;
    margin-bottom: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
}


#tools{
    font-size: 0.9em;
}

#modal-img:hover {
    opacity: 0.6;
}

.fa-google:hover{
    opacity: 1;
}

#github-link{
    font-size: 40px;
    cursor: pointer;
}


footer{
    margin-top: 3vh;
}

.fa-row{
    margin-left: 2vw;
}

/*PROJECTS*/
.projects-page h1{
    font-weight: bold;
    font-variant:small-caps;
    font-size: 4em;
}

.pj-tile{
    margin-top: 5vh;
}


.pj-left-text{
    font-weight: bold;
}

.description{
    margin-top: 3vh;
    margin-bottom:2vh;
}
.pj-icon{
    display: inline;
    font-size: 40px;
}


.pj-icon-git{
    margin-left: 3vw;
    margin-top: 4vh;
    margin-bottom: 4vh;
}


.all-img:hover{
    opacity: 0.6;
}

.links:hover{
    color: orange;
}

.links-row{
    margin-left: 5vw;
}

.pj-hr {
    margin-top: 5vh;
}

.inside-pj-all h4{
    margin-top: 4vh;
}
