body {
    font-family: 'Cormorant', serif;
    font-weight: 800;
    /*background-color: #F4F4F4;*/
    font-size: 19px;
    background-image: url('/static/images/images_src/fixed/fabric_of_squares_gray.png')
}

#header{
    margin-top: 1vh;
}


hr {
    border-top: 1px solid #868889;
}

.text-muted{
    color: #575757;
    font-weight: bold;

}

#featured h2{
    display: inline;
}

.featured-works{
    text-decoration: underline;
}

#projects-page-link{

}
.title-super {
    font-size: 40px;
    font-weight: 600;
    font-variant: small-caps;
}



.featured-pj:hover,
.special-img:hover {
    cursor: pointer;

}

.special-img,
.proj-img{
    position: relative;
}


.inside {
    display: none;
    position: absolute;
}

.inside-text{
    font-weight: bold;
    color: white;
    margin-right: 3vw;
}

.inside-special{
    bottom: 12em;
}

.inside-pj {
    margin-top: 5vh;
    width: 25vw;

}




.project:hover  {
    cursor: pointer;
    opacity: 0.8;
}

.proj-img{
    border: 2px solid #828283;
}

.pj-tile:hover{
    opacity: 0.8;
}

.pj-title{
    margin-top: 2vh;
    font-size: 24px;
    font-weight: 600;
}

#project-description {
    margin-top: 1vh;
}


.fa{
    font-size: 28px;
    color: #404344;
}

.fa-f {
    margin-left: 2vw;
}

.fa:hover{
    color: #8F5C00;
}

.modal-header,
.modal-footer{
    background-color: #404344;
    color: white;
}

.modal-title{
    font-weight: bold;
}
.modal-content{
    background-color: #F2F1F1;
}

#details{
    margin-top: 3px;
    margin-bottom: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
}


#tools{
    font-size: 0.9em;
}

#modal-img:hover,
.fa:hover {
    opacity: 0.6;
}

.fa-google:hover{
    opacity: 1;
}

#github-link{
    font-size: 40px;
    cursor: pointer;
}


footer{
    font-size: 20px;
}

/*PROJECTS*/
.projects-page h1{
    font-weight: bold;
    font-variant:small-caps;
    font-size: 4em;
}

.pj-tile{
    margin-top: 5vh;
}

.website{
    font-variant: small-caps;
}

.pj-left-text{
    font-weight: bold;
}

.pj-icon{
    color: black;
    display: inline;
    font-size: 40px;
}

a:hover{
    text-decoration: none;
}
.links:hover{
    color: orange;

}

.pj-icon-git{
    margin-left: 3vw;
    margin-right: 2vw;
}


.pj-bottom{
    position: 200px;
}

.inside-pj-all h4{
    margin-top: 4vh;
}
