body {
    font-family: 'Cormorant', serif;
    font-weight: 800;
    background-color: #E2EDF4;
    color: #404344;
    font-size: 19px;

}

#header{
    margin-top: 1vh;
    color: #535F6B;
}


hr {
    border-top: 1px solid #868889;
}

.text-muted{
    color: #606D7B;
    font-weight: bold;

}

.title-super {
    font-size: 40px;
    color: #575757;
    font-weight: 600;
}


.featured-pj:hover,
.special-img:hover {
    cursor: pointer;
    opacity: 0;

}


.project:hover  {
    cursor: pointer;
    opacity: 0.8;
}

.proj-img{

    border: 2px solid #828283;
}


.pj-title{
    margin-top: 2vh;
    font-size: 24px;
    font-weight: 600;
}

#project-description {
    margin-top: 1vh;
}


.fa{
    font-size: 27px;
    color: #404344;
}

.fa:hover{
    color: #8F5C00;
}

.modal-header,
.modal-footer{
    background-color: #404344;
    color: white;
}

.modal-title{
    font-weight: bold;
}
.modal-content{
    background-color: #F2F1F1;
}

#details{
    margin-top: 3px;
    margin-bottom: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 16px;
}

#modal-img:hover,
.fa:hover {
    opacity: 0.6;
}

.fa-google:hover{
    opacity: 1;
}

#github-link{
    font-size: 40px;
    cursor: pointer;
}


footer{
    font-size: 20px;
}
