body {
    font-family: 'Cormorant', serif;
    font-weight: 800;
    background-color: #F6FAFC;
    color: #404344;
    font-size: 19px;

}

#header{
    margin-top: 1vh;
    color: #535F6B;
}



.container{
    margin-top: 2vh;
}

.row {
    margin-top: 2vh;
}

hr {
    border-top: 1px solid #868889;
}

.text-muted{
    color: #606D7B;
    font-weight: bold;
    font-size: 42px;
    text-align: center;
}

.title-super {
    font-size: 50px;
    color: #575757;
    font-weight: 600;
}

.project:hover,
.project:hover h4  {
    cursor: pointer;
    text-decoration: underline;
    opacity: 0.7;
}

.proj-img{
    height: auto;
    border: 1px solid #84898C;
}

.pj-title{
    margin-top: 2vh;
    font-size: 24px;
}

#project-description {
    margin-top: 2vh;
}


.fa{
    font-size: 27px;
    color: #404344;
}



.modal-content{
    background-color: #F2F1F1;
}

#modal-img:hover,
.fa:hover {
    opacity: 0.6;
}

.fa-google:hover{
    opacity: 1;
}

#github-link{
    font-size: 40px;
    cursor: pointer;
}


footer{
    padding-bottom: 2vh;
    font-size: 20px;
}
