body {
    font-family: 'Cormorant', serif;
    font-weight: 800;
    font-size: 20px;
    color: #575757;
    background-image: url('/static/images/images_src/fixed/fabric_of_squares_gray.png')
}

a:hover{
    text-decoration: none;
}

.fa:hover{
    text-decoration: none;
    cursor: pointer;
}

.title-super {
    font-size: 50px;
    font-weight: 600;
    font-variant: small-caps;
    margin-top: 1vh;
}

#job{
    margin-top: -2vh;
}

/* NAV */

.test{
    background-color: red;
}

#fixed-side-nav{
  position: fixed;
  top: 0;
  left: 5vw;
  z-index: 9999;
  margin-top: 4vh;
  font-size: 30px;
}


#nav-ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#nav-ul li {
    display: inline;
}

.nav-li{
  display: inline;
}

.n-link{
    color: #575757;
    font-size: 20px;

}

.n-link:hover{
    color: #8F5C00;
}

.h-li{
  display: none;
}


/*  Carousel */
.carousel-indicators li{
    border: 1px solid black;
    background-color: grey;
}

.carousel-title,
.carousel-description{
    color: black;
    font-weight: bold;
    text-shadow: 2px 1px white;
}


.carousel-special-title,
.carousel-special-description{
    color: white;
    font-weight: bold;
}

.carousel-item{
    height: 75vh;
}

.carousel-control{
    font-size: 55px;
    color: red;
}
/* Footer */
.fa-google:hover{
    opacity: 1;
}

#github-link{
    font-size: 40px;
    cursor: pointer;
}


footer{
    margin-top: 3vh;
}

.fa{
    font-size: 28px;
    color: #404344;
}

.fa-f {
    margin-left: 2vw;
}


.fa:hover, #articles-link:hover{
    color: #8F5C00;
}

#goog:hover,
.fa-google:hover{
    color: #404344;
    cursor: default;
}
