body {
    font-family: 'Cormorant', serif;
    font-weight: 800;
    /*background-color: #F4F4F4;*/
    font-size: 19px;
    background-image: url('/static/images/images_src/fixed/cheap_diagonal_fabric.png')
}

#header{
    margin-top: 1vh;
}


hr {
    border-top: 1px solid #868889;
}

.text-muted{
    color: #575757;
    font-weight: bold;

}

.title-super {
    font-size: 40px;
    font-weight: 600;
    font-variant: small-caps;
}


.featured-pj:hover,
.special-img:hover {
    cursor: pointer;

}

.special-img,
.proj-img{
    position: relative;
}


.inside {
    display: none;
    position: absolute;
}

.inside-text{
    font-weight: bold;
    color: white;
    margin-right: 3vw;
}

.inside-special{
    bottom: 10em;
}

.inside-pj {

    width: 25vw;

}




.project:hover  {
    cursor: pointer;
    opacity: 0.8;
}

.proj-img{
    border: 2px solid #828283;
}


.pj-title{
    margin-top: 2vh;
    font-size: 24px;
    font-weight: 600;
}

#project-description {
    margin-top: 1vh;
}


.fa{
    font-size: 28px;
    color: #404344;
}

.fa-f {
    margin-left: 2vw;
}

.fa:hover{
    color: #8F5C00;
}

.modal-header,
.modal-footer{
    background-color: #404344;
    color: white;
}

.modal-title{
    font-weight: bold;
}
.modal-content{
    background-color: #F2F1F1;
}

#details{
    margin-top: 3px;
    margin-bottom: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
}

#tools{
    font-size: 0.9em;
}

#modal-img:hover,
.fa:hover {
    opacity: 0.6;
}

.fa-google:hover{
    opacity: 1;
}

#github-link{
    font-size: 40px;
    cursor: pointer;
}


footer{
    font-size: 20px;
}


/*Other Projects*/
#showcase{
    display: block;
    width: 80vw;
    height: 60vh;
    /*font-weight: bold;*/
    /*background-color: red;*/
    background-repeat: no-repeat;
    margin-top: 7vh;
    margin-left: 15vw;
}


#showcase-bottom{
    margin-top: 3vh;
    margin-left: -5vh;
}


#showcase-title,
#direction {
    margin-top: 8vh;
}

#direction{
    margin-left: -15vw;
}

.showcase-project-text{
    font-weight: bold;
}


.project-pj{
    margin: 0;
    padding: 0;
    display: inline-block;
    float: none;
    margin-top: 5vh;
}

.project-pj:hover{
    cursor: pointer;
}


.all-img{
    height: 25
}
.pj-row {
    overflow-x: scroll;
    overflow: auto;
    white-space: nowrap;
}

.all {
    margin: 1vw;
}

.inside-pj-all {
    margin-top: 5vh;
    width: 25vw;
}
