<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta name="viewport" content='width=device-width, initial-scale=1'>
    <meta name="author" content="Ian Agpawa">
    <meta name="description" content="Ian Agpawa's Portfolio">
    <title>Ian Agpawa Portfolio</title>
    <link rel="icon" type="image/x-icon" href="/static/code-break/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Cormorant"
        rel="stylesheet">
    <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.0.9/css/all.css"
        integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1"
        crossorigin="anonymous">

    <link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/css/media.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="/static/js/main.js"></script>
</head>
<body class='container-fluid'>
    <header class="row justify-content-between align-items-center" id='header'>
        <div class="col-3 offset-md-1">
            <nav id="fixed-side-nav">
                <ul id='nav-ul'>
                    <li class="nav-li h-li col-md-4"  role="presentation" >
                      <a href="/" class="n-link" id="in-page-link">Home</a>
                    </li>
                    <li class="nav-li h-li col-md-4" role="presentation" >
                      <a href="/projects" class="n-link home-drop">Projects</a>
                    </li>
                    <li class="nav-li h-li col-md-4" role="presentation" >
                      <a href="#contact" class="nav-drop n-link home-drop">Contact</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-4 align-self-end">
            <h1 class="title-super" id="name">Ian Agpawa</h1>
        </div>
    </header>
    {% block content %}
    {% endblock %}
    <div class='container-fluid footer'>
    <footer id='contact' class="row justify-content-center text-center">
        <div class="col-md-2 col-md-offset-2 copy-name">
            <p> &copy; 2018 Ian Agpawa</p>
        </div>
        <div class="col-md-2 fa-google-div">
             <i class="fab fa-google"><span id="goog">agpawaji@gmail.com</span></i>
        </div>
        <div class='col-md-4 text-left fa-row'>
            <a href="https://github.com/ianagpawa" target="_blank"
                class="letter">
              <i class="fab fa-github fa-f"> </i>
            </a>
            <a href="https://www.linkedin.com/in/ianagpawa"
                target="_blank" class="letter">
                <i class="fab fa-linkedin fa-f"></i>
            </a>
            <a href="https://chronicle-170419.appspot.com"
                target="_blank" class="letter">
               <i class="fas fa-info fa-f"></i>
           </a>
            <a href="https://profiles.udacity.com/p/9800117158"
                target="_blank" class="letter">
               <i class="fas fa-user-circle fa-f"></i>
           </a>
           <a href="https://www.codewars.com/users/whiteobsidian" target="_blank"
               class="letter">
               <i class="fab fa-empire fa-f"></i>
           </a>
        </div>
    </footer>
    </div>
</body>
</html>
