
{% extends "base.html" %}

{% block content %}
    <div class="container-fluid">

        <div class='container-fluid'>

            <div class='col-md-8 col-md-offset-2 special-pj project' data-toggle='modal' data-target='#Modal'
                data-title='{{special.title}}'
                data-thumbnail='{{special.thumbnail}}'
                data-description='{{special.description}}'
                data-details="{{special.details}}"
                data-url="{{special.url}}"
                data-repo="{{special.repo}}"
                data-date='{{special.date}}'
                data-tools="{{special.tools}}">
                <div class='inside inside-special text-center col-md-10 col-md-offset-1'>
                    <h1 class='inside-text'>{{special.title}}</h1>
                    <h3 class='inside-text'>{{special.description}}</h3>
                </div>
                <img class='img-responsive proj-img special-img' src="/static/images/images-jpg/{{special.thumbnail}}.jpg">
            </div>


        </div>
        <br>


        <section class='container-fluid'>
        <div class="col-md-12 text-left"  id="featured">
            <div class='container-fluid featured-works'>
                <p class="text-muted">Featured Works</p>
            </div>
                <hr>

            <div class="row text-center">
                {% for project in featured %}
                <div class='col-md-3 featured-pj project' data-toggle='modal' data-target='#Modal'
                    data-title='{{project.title}}'
                    data-thumbnail='{{project.thumbnail}}'
                    data-description='{{project.description}}'
                    data-details="{{project.details}}"
                    data-url="{{project.url}}"
                    data-repo="{{project.repo}}"
                    data-date='{{project.date}}'
                    data-tools="{{project.tools}}"
                    >
                    <div class='inside inside-pj container text-center'>

                        <h2 class='inside-text'>{{project.title}}</h2>

                        <h4 class='inside-text'>{{project.description}}</h4>

                    </div>
                    <img class='img-responsive proj-img' src="/static/images/{{project.thumbnail}}-600.jpg">
                </div>
                {% endfor %}
            </div>
        </div>

        </section>



    </div>   <!-- body container -->



    <!-- Modal -->

    <section>
        <div class="modal fade text-center" id="Modal" tabindex="-1" role="dialog"
            aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="myModalLabel"></h3>

                    </div>
                    <div class="modal-body">

                        <a id='pj-web-link' target="_blank">
                            <img class="img-responsive"
                            id="modal-img" alt="screenshot of project homepage">
                        </a>

                        <br>
                        <p id='details'></p>

                        <p id='tools'></p>
                        <a target="_blank" id='web-link' class='modal-link'>
                            <i class="fa fa-link"
                                aria-hidden="true"></i>
                        </a>
                        <a target="_blank" id="git-repo" class='modal-link'>
                            <i class="fa fa-github" id='github-link'
                                aria-hidden="true"></i>
                        </a>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default"
                            data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}
