<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8'>
    <meta name="viewport" content='width=device-width, initial-scale=1'>
    <meta name="author" content="Ian Agpawa">
    <meta name="description" content="Ian Agpawa's Portfolio">
    <title>Ian Agpawa Portfolio</title>

    <link href="https://fonts.googleapis.com/css?family=Cormorant"
        rel="stylesheet">
    <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <link
        href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
        crossorigin="anonymous">
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/css/media.css" rel="stylesheet">


    <script crossorigin="anonymous"
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous">
    </script>
    <!-- <script type="text/javascript" src="static/js/projects.js"></script> -->
    <script type="text/javascript" src="static/js/main.js"></script>

  </head>

  <body>


    <div class="container">


        <header>
            <div class="row" id='header'>

                <div class="col-md-2">
                    <a href="https://github.com/ianagpawa/u-portfolio"
                        target="_blank">
                        <img class="title-logo img-responsive"
                        src="/static/images/images_src/fixed/100kitten.jpg"
                        alt='placeholder image of a kitten
                        from http://placekitten.com'>
                    </a>
                </div>

                <div class="col-md-4 col-md-offset-6 text-right">
                    <h1 class="title-super" id="name">IAN AGPAWA</h1>
                    <p id='job'>Web Developer</p>
                </div>

            </div>
        </header>
        <hr>
        <div class='container-fluid'>

            <div class='col-md-10 col-md-offset-1 special-pj project' data-toggle='modal' data-target='#Modal'
                data-title='{{special.title}}'
                data-thumbnail='{{special.thumbnail}}'
                data-description='{{special.description}}'
                data-details="{{special.details}}"
                data-url="{{special.url}}"
                data-repo="{{special.repo}}"
                data-date='{{special.date}}'
                data-tools="{{special.tools}}">
                <div class='inside inside-special text-center col-md-10 col-md-offset-1'>
                    <h1 class='inside-text'>{{special.title}}</h1>
                    <h3 class='inside-text'>{{special.description}}</h3>
                </div>
                <img class='img-responsive proj-img special-img' src="/static/images/images_src/{{special.thumbnail}}.png">
            </div>

        </div>
        <br>


        <section class='container-fluid'>
        <div class="col-md-12 text-left  id="featured"">
            <h2 class="text-muted ">Featured Works</h2>
            <hr>

            <div class="row text-center">
                {% for project in featured %}
                <div class='col-md-3 featured-pj project' data-toggle='modal' data-target='#Modal'
                    data-title='{{project.title}}'
                    data-thumbnail='{{project.thumbnail}}'
                    data-description='{{project.description}}'
                    data-details="{{project.details}}"
                    data-url="{{project.url}}"
                    data-repo="{{project.repo}}"
                    data-date='{{project.date}}'
                    data-tools="{{project.tools}}"
                    >
                    <div class='inside text-center col-md-10 col-md-offset-1'>
                        <h2 class='inside-text'>{{project.title}}</h2>
                        <h4 class='inside-text'>{{project.description}}</h4>
                    </div>
                    <img class='img-responsive proj-img' src="/static/images/{{project.thumbnail}}-600.jpg">
                </div>
                {% endfor %}
            </div>
        </div>

        </section>
        <hr>
        <div class='container-fluid footer'>
        <footer class="row">

            <div class="col-md-2 col-md-offset-1">
                <p> &copy; 2016 Ian Agpawa</p>
            </div>
            <div class="col-md-3">
                 <i class="fa fa-google fa-f"></i> agpawaji@gmail.com
            </div>

            <div class='col-md-6'>

                <a href="https://github.com/ianagpawa" target="_blank"
                    class="letter">
                  <i class="fa fa-github-square fa-f"></i>
                </a>

                <a href="https://www.linkedin.com/in/ianagpawa"
                    target="_blank" class="letter">
                    <i class="fa fa-linkedin-square fa-f"></i>
                </a>



                <a href="https://profiles.udacity.com/p/9800117158"
                    target="_blank" class="letter">
                   <i class="fa fa-user-circle fa-f"></i>
               </a>

                 <a href="http://www.freecodecamp.com/theartilect"
                     target="_blank" class="letter">
                    <i class="fa fa-free-code-camp fa-f"></i>
                </a>

                <a href="https://twitter.com/theartilect" target="_blank"
                    class="letter">
                    <i class="fa fa-twitter fa-f"></i>
                </a>


            </div>

        </footer>
        </div>

    </div>   <!-- body container -->



    <!-- Modal -->

    <section>
        <div class="modal fade text-center" id="Modal" tabindex="-1" role="dialog"
            aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="myModalLabel"></h3>
                        <!-- <p id='date-completed'></p> -->
                    </div>
                    <div class="modal-body">
                        <!-- <p id='project-description'></p> -->
                        <a id='pj-web-link' target="_blank">
                            <img class="img-responsive"
                            id="modal-img" alt="screenshot of project homepage">
                        </a>

                        <br>
                        <p id='details'></p>

                        <p id='tools'></p>
                        <a target="_blank" id="git-repo">
                            <i class="fa fa-github" id='github-link'
                                aria-hidden="true"></i>
                        </a>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default"
                            data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>

</html>
