{% extends "base.html" %}

{% block content %}

<div class='container-fluid'>
    <div class='col-md-10 col-md-offset-1'>
    </div>
</div>
<div class="text-center container-fluid" id='projects'>
    {% for project in projects %}
    <div class='col-md-3 project-pj' data-toggle='modal' data-target='#Modal'
        data-title='{{project.title}}'
        data-thumbnail='{{project.thumbnail}}'
        data-description='{{project.description}}'
        data-details="{{project.details}}"
        data-url="{{project.url}}"
        data-repo="{{project.repo}}"
        data-date='{{project.date}}'
        data-tools="{{project.tools}}"
        >
        <img class='img-responsive proj-img' src="/static/images/{{project.thumbnail}}-600.jpg">
    </div>
    {% endfor %}

</div>


{% endblock %}
