{% extends "base.html" %}

{% block content %}

<div class='container-fluid'>
    <div class='col-md-10 col-md-offset-1' id='showcase'>

        <h1>
        </h1>
        <h2>
        </h2>

    </div>
</div>
<div class="text-center container-fluid" id='projects'>
    <div class='row pj-row'>
    {% for project in projects %}
    <div class='col-md-3 project-pj project' data-toggle='modal' data-target='#Modal'
        data-title='{{project.title}}'
        data-thumbnail='{{project.thumbnail}}'
        data-description='{{project.description}}'
        data-details="{{project.details}}"
        data-url="{{project.url}}"
        data-repo="{{project.repo}}"
        data-date='{{project.date}}'
        data-tools="{{project.tools}}"
        >
        <div class='inside inside-pj inside-pj-all text-center'>

            <h2 class='inside-text all'>{{project.title}}</h2>

            <h4 class='inside-text all'>{{project.description}}</h4>

        </div>
        <img class='img-responsive proj-img' src="/static/images/{{project.thumbnail}}-600.jpg">
    </div>
    {% endfor %}
    </div>

</div>


{% endblock %}
