{% extends "base.html" %}

{% block content %}

<div class='container-fluid'>
    <div class='col-md-12 text-center projects-page'>
        <h1 class='projects-h1'>Projects</h1>
    </div>
    <div class="text-left col-md-12" id='projects'>

        {% for project in projects %}

        <div class='row col-md-10 col-md-offset-1 pj-tile'>
            <div class='col-md-offset-1 col-md-5 pj-left bold text-center'>
                <h1 class="pj-left-text">{{project.title}}</h1>
                <h5 class="pj-left-text">{{project.date}}</h5>
                <h3 class="pj-left-text description">{{project.description}}</h3>
                <h4 class='pj-left-text tools'>{{project.tools}}</h4>
                <div class='links-row'>
                    <a href="{{project.url}}" class='pj-icon links' target="_blank">
                        <i class="fa fa-link pj-icon" aria-hidden="true"></i>
                    </a>
                    <a href="{{project.repo}}" class='pj-icon links' target="_blank">
                        <i class="fa fa-github-square pj-icon pj-icon-git"></i>
                    </a>
                    {% if project.link_name %}
                    <a href="https://chronicle-170419.appspot.com/projects/{{project.link_name}}" class='pj-icon links' target="_blank">
                        <i class="fa fa-coffee pj-icon pj-icon"></i>
                    </a>
                    {% endif %}
                </div>
            </div>

            <div class='col-md-5  pj-right'>
                <div class='inside col-md-12 inside-pj-all text-left'>
                    <h4 class='inside-text all'>{{project.details}}</h4>
                </div>
                <a href='{{project.url}}' target="_blank">
                    <img class='img-responsive proj-img all-img' src="/static/images/{{project.thumbnail}}-600.jpg">
                </a>
            </div>

        </div>

        <hr class='col-md-8 col-md-offset-2 pj-hr'>

        {% endfor %}
    </div>

</div>

{% endblock %}
